
body {
  width: 90%;
  max-width: 900px;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}
/*CSS-MENÚ-SUPERIOR*/

.primer_div{
  position: absolute;
  left: 97px;
  grid-column: 1;
  grid-row: 1;
}

/*CSS-Menu Superior*/
#menuhorizontal{
  position: fixed;
  list-style-type:none;
  z-index: 1;
}

#menuhorizontal a {
  width: 310px;
  text-decoration: none;
  text-align:center;
  color:#000000;
  background-color:#ffffff;
  padding:10px 1px;
  display:inline-block; 
  font-weight: bold;
}

#menuhorizontal li {
  float:left;
}   
#menuhorizontal a:hover {
  background-color:#000000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  filter:alpha(opacity=60); opacity:.7;
}

/*CSS-VIDEO*/

.div_video{
  background-color: black;
  position: absolute;
  height: 115%;
  width: 100%;
}

#video{
  top: 60px;
  position: absolute;
  height: 80%;
  width: 100%;
  
}

/*CSS-TEXT1*/

#text{
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 101%;
  height: 30%;
  width: 100%;
}

#h1_1{
  font-size: 40px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#text1{
  font-size: 20px;
  text-align: center;

}

